.home-wrap{
  /*background-color: yellow;*/
  display: flex;
  justify-content: center;
}
.post-container{
  width:570px;
  font-family: "Segoe UI",Arial,sans-serif;
}
.post-wrap{
  display: flex;
  background-color: #fefefe;
  margin: 2px;
  padding:12px;
  min-height: 100px;
  box-shadow: 0.1px 1px 1px 1px rgba(0,0,0,0.1);


}
.post-avatar{
  /*background-color: green;*/
  width:100px;
  text-align:center;
  font-size: 50px;
}

.post-avatar img{
  width: 60px;
  height: 60px;
  border-radius: 50%
}
.post-text-wrap{
  display: flex;
  flex-direction: column;
  /*background-color: blue;*/
  width:400px;
}
.post-username{
   margin:5px;
   height:20px;
}
.username{
  color:#737A78;
  font-size: 14px;
}
.displayName{
  font-weight: bold;
}
.post-text{
  margin: 5px;
  min-height:60px;
  font-size: 13px;
  word-wrap: break-word;
  line-height: 20px
}
.post-feedback{
  margin:5px;
  height:16px;
  display: flex;
  justify-content:space-around;

}
.retweet-icon{
  display: flex;
  width: 80px;
  height: 40px;
  justify-content:center;
  color:#657786;
}
.message-icon{
  margin-left: 70px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content:center;
  color:#657786;
}
.reply-icon{
  margin-left: 70px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content:center;
  color:#657786;
}

.like-icon{
  margin-left: 70px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content:center;
  color:#657786;
  position: relative;
  /*background-color: blue;*/
}
.like-icon span{
  position: absolute;
  top:-3px;
  right: 3px;
}
.liked-icon{
  color:#e22240;
}
.like-icon:hover{
  color:#e22240;
  cursor: pointer;
}
.like-icon:active{
  color: #e0a8ad;
  transition: color 0.1s ease-in-out
}

.retweet-icon:hover{
  color:#2bdb34;
  cursor: pointer;
}
.message-icon:hover{
  color:#30b5e5;
  cursor: pointer;
}
.reply-icon:hover{
  color: #7a1fe2;
  cursor:pointer;
}
