.menus{
  list-style-type: none;
  /*text-align: center;*/
}
.menus a{
  text-decoration: none;
  color:#737A78;
  transition: color 0.25s ease-in-out;
}
.menus a:hover{
  color:#62BAA1;
}
.menus li{
  padding:10px;
}

.dropdown{
  position: relative;
  display: inline-block;
  margin-left: 60px;
  margin-right: 40px;
}
.dropdown img{
  width: 60px;
  height:60px;
  border-radius: 50%;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #fefefe;
  min-width: 140px;
  margin-left: -40px;
  border-radius: 4px;
  box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content{
  display: block;
}
