.mainTemplate{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.logo-wrap{
  flex:1;
}
.logo-wrap a{
  font-weight: 700;
  font-size: 2rem;
  color:#58d5cc;
  text-decoration: none;
}
