.inputField-wrap{
   margin-bottom: 20px;
}
.inputField-wrap label{
   margin-bottom: 7px;
   display: block;
   color:#14171a
}

.inputField-wrap input{
    padding:12px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #e4e1e2;
    border-radius: 4px;
    margin-bottom: 1px;
    overflow: hidden;
    resize:none;
}
/*.inputField-wrap input :focus{
  outline:none;
  border: 2px solid #58d5cc;
  transition: border-color 0.4s ease-in-out
}*/
