.header{
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 8;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
